/* h1 {
    background-color: rgb(107, 192, 33);
    color: white;
    text-align: center;
}

p {
    background-color: blue;
}

body {
    background-color: aqua;
} */
.bg-green-h1 {
    background-color: greenyellow;
}

.bg-yellow-h1 {
    background-color: yellow;
}

.bg-red-h1 {
    background-color: red;
    color: white;
    font-family: fantasy;
    font-size: x-large;
    text-align: center;
    letter-spacing: 1cm;
    /* padding-top: 80px;
    padding-bottom: 80px; */
    /* padding: 50px 10px 90px 100px; */
    padding: 50px;
    border: 10px solid black;
    border-radius: 20px;

    margin: 50px 70px 100px 50px;
}

/* .bg-brown-h1 {
    background-color: burlywood;
}
 */


/* #pg-backgrounds {
    background-color: bisque;
}

#pg-background {
    background-color: aquamarine;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('../img/pawel-czerwinski-YAtspJ-HV2E-unsplash.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
    background-color: aquamarine ;
} 


.pg-backgrounds{
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
}

#box01{
    width: 200px;
    height: 200px;
    background-color: brown;
    position: sticky;
    top:  100px;
    left: 200px;
    border-radius: 50%;
    z-index: -1;
}
#box02{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 200px;
}
